ul {
    list-style-type: none;
}

li{
    display: inline;
    margin: 0px 20px;
    
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    
}

.logo-img{
    width: 200px;
}

.cart-img {
    width:30px
}
.hero-text{
    z-index: 1;
    color: black;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Pirata One;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 106.5%;
}


.hero-button{
    border-radius: 34.962px;
    border: 1px solid #000;
    background: var(--red, #8E3C3C);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
    color: white;
}